<div class="well well-small"><a id="myCart"asp-page="cart">
    <img src="user/themes/images/ico-cart.png" alt="cart">@ViewBag.CountItems in your cart
    <span class="badge badge-warning pull-right">$ @ViewBag.Total </span>
</a></div>